CosminMisc/ConsoleApp1/obj/
CosminMisc/.vs/
CosminMisc/ConsoleApp1/bin/Debug/
/CosminMisc/ConsoleApplication1/Debug
/CosminMisc/ConsoleApplication1/Release/ConsoleA.AF8DF9D2.tlog
/CosminMisc/Release
CosminMisc/WpfApp1/obj/
CosminMisc/WpfApp1/bin/
/CosminMisc/ConsoleApp2/obj/Debug
/CosminMisc/ConsoleApp2/bin/Debug
/CosminMisc/ConsoleApp2/obj/Release
/CosminMisc/ConsoleApp1/bin/Release
/CosminMisc/ConsoleApp2/bin/Release
*.suo
/JavaMisc/JavaTestArtif/src/main/java/JavaTest/.vs/slnx.sqlite
/JavaMisc/JavaTestArtif/src/main/java/JavaTest/.vs/VSWorkspaceState.json
/CosminMisc/Games/obj
/CosminMisc/Games/bin/Debug/netcoreapp2.1
/CosminMisc/ConsoleApp_Core/bin/Debug/netcoreapp2.1
/CosminMisc/ConsoleApp_Core/obj
/CosminMisc/CosminIv.Games.UI/obj
/CosminMisc/CosminIv.Games.UI/bin/Debug/netcoreapp2.1
