CosminMisc/ConsoleApp1/obj/
CosminMisc/.vs/
CosminMisc/ConsoleApp1/bin/Debug/
/CosminMisc/ConsoleApplication1/Debug
/CosminMisc/ConsoleApplication1/Release/ConsoleA.AF8DF9D2.tlog
/CosminMisc/Release
CosminMisc/WpfApp1/obj/
CosminMisc/WpfApp1/bin/
