<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="PerformanceMonitor.Enabled" value="true"/>
    <add key="PerformanceMonitor.LogFile" value="C:\Temp\PerfMonitorLog.txt"/>
    <add key="PerformanceMonitor.MinimumDurationToLogMs" value="0"/>
  </appSettings>
</configuration>
